@import url("https://fonts.googleapis.com/css?family=Roboto");
:root {
  --light-gray: #d7d7d5;
  --gray-dark: #50514F;
  --red: #F25F5C;
  --yellow: #ffcc3e;
  --blue: #247ba0;
  --green: #70c1b3;
  --black: #1f1f1e;
  --white: #ffffff;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Roboto", "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif, Arial, Helvetica, sans-serif;
  --font-family-monospace: "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
}


/* Body */
/* body {
  background-image: url("https://cdn.shopify.com/s/files/1/0384/6721/files/Topography_-_MacBook_Pro_Wallpaper_f470d524-d3c5-4f14-a65d-fbd1dc271865.jpg?53079");
  height: 750px;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
} */

/* Navbar */
.navigation {
  max-height: 60px;
  background-color: var(--light-gray);
  display: block;
  font-weight: bold;
}

.navigation .navbar-brand {
  color: var(--black);
  font-size: 20px;
  margin-left: 0px;
  font-family: "Roboto", "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif, Arial, Helvetica, sans-serif;
}

.navbar-nav .nav-item {
  font-size: 16px;
}

/* Navbar dropdown menu items */
.dropdown-item {
  color: var(--black);
}

/* Navbar on hover */
.navigation .navbar-brand:hover, .navbar-nav .nav-item .nav-link:hover {
  color: var(--red);
  
}

/* Dropdown menu items on hover */
.dropdown-menu .dropdown-item:active, .dropdown-menu .dropdown-item:hover {
  color: var(--red);
  font-weight: bold;
}

/* Links */
a {
  color: var(--blue);
}

/* Images */
img{
  width:100%;
  height:100%;
}
.active {
  border-color: var(--gray-dark);
  border-style: solid;
}
.panel:hover {
  border-color: var(--red);
  border-style: solid;
}
.primary-photo {
  width:50%;
  height:50%;
}
#img-visualizations {
  padding-bottom: 15px;
}

/* Title */
.title {
  color: var(--black);
  font-family: "Roboto", "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  padding-top: 10px;
}

/* Paragraph */
p {
color: var(--gray-dark);
font-family: "Roboto", "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif, Arial, Helvetica, sans-serif;
font-size: 16px;
}

/* Box */
.box {
  margin-top: 50px;
  margin-bottom: 60px;
  padding: 10px 30px 10px;
  background-color: var(--light-gray);

}
/* Table */
.table {
  font-size: 15px;
  border-top-color: var(--white);
}

/* Footer */
footer {
color: var(--black);
min-height: 50px;
font-size: 16px;
text-align: left;
padding: 20px;
}


/* @media(max-width: 992px) {
  .navbar-expand-lg {
  background-color: #000000;
  }
  .navbar {
    max-height: none;
    padding: inherit;
  }
  .navbar div {
    margin: inherit;
    background-color: var(--light-gray);
  }
  .navbar-brand {
    padding: 10px;
  }
  button{
    margin-right: 30px;
  }
  button:focus {
    outline: 1px dotted;
    outline: auto 5px;
  }
} */
